<p id="notice"><%= notice %></p>

<p>
  <strong>Modifier name:</strong>
  <%= @modifier.modifier_name %>
</p>

<%= link_to 'Edit', edit_modifier_path(@modifier) %> |
<%= link_to 'Back', modifiers_path %>
